<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-blog me-2"></i>BlogHub
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/blogs?category=Technology">Technology</a></li>
            <li><a class="dropdown-item" href="/blogs?category=Lifestyle">Lifestyle</a></li>
            <li><a class="dropdown-item" href="/blogs?category=Travel">Travel</a></li>
            <li><a class="dropdown-item" href="/blogs?category=Food">Food</a></li>
            <li><a class="dropdown-item" href="/blogs?category=Health">Health</a></li>
            <li><a class="dropdown-item" href="/blogs?category=Business">Business</a></li>
            <li><a class="dropdown-item" href="/blogs?category=Other">Other</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      
      <form class="d-flex me-2" action="/search" method="GET">
        <div class="input-group">
          <input class="form-control" type="search" name="q" placeholder="Search blogs..." aria-label="Search">
          <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>

      <ul class="navbar-nav">
        <% if(locals.user) { %>
          <li class="nav-item">
            <a class="nav-link btn btn-success btn-sm text-white px-3 me-2" href="/blogs/new">
              <i class="fas fa-plus me-1"></i> New Blog
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/img/uploads/<%= user.avatar %>" alt="<%= user.name %>" class="rounded-circle me-1" width="24" height="24">
              <%= user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="/dashboard"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a></li>
              <li><a class="dropdown-item" href="/users/profile"><i class="fas fa-user me-2"></i>My Profile</a></li>
              <li><a class="dropdown-item" href="/users/edit-profile"><i class="fas fa-edit me-2"></i>Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-light btn-sm px-3 me-2" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light btn-sm text-primary px-3" href="/users/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav> 