<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1 class="display-4 text-danger mb-4">Error</h1>
      <p class="lead mb-4"><%= message %></p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %> 