<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">BlogHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs.html">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact.html">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- Show these items when user is logged out -->
        <li class="nav-item logged-out">
          <a class="nav-link btn btn-outline-light me-2" href="/login.html">Login</a>
        </li>
        <li class="nav-item logged-out">
          <a class="nav-link btn btn-light" href="/register.html">Register</a>
        </li>
        <!-- Show these items when user is logged in -->
        <li class="nav-item dropdown logged-in">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="username">User</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/dashboard.html">Dashboard</a></li>
            <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item logout-link" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 